#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

body{
  background-color: rgb(220, 217, 217);
}

.read-the-docs {
  color: #888;
}

.app-container{
  display: flex;
  height: auto;
}

.sidebar-container{
  width: 250px;
  /* background-color: white; */
  color: black;
  margin-right: 5px;
}

.main-container{
  width: 700px;
  background-color: white;
  color: black;
  margin-left: 5px;
}

.button-confirm{
  margin-top: 5px;
}


.container-details p{
  margin: 0; 
}

.container-details,
.container-work-exp,
.container-education,
.container-languages{
  background-color: white;
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-top: 5px;
}

.container-work-exp p,
.container-education p{
  margin: 0; 
}

.container-languages p{
  margin:0;
}

.container-languages{
  padding-bottom: 10px;
}

h4{
  margin-top: 5px;
  margin-bottom: 5px;
}

.date-ending{
  margin-left: 20px;
}

.header-main{
  background-color: rgb(113, 86, 163);
  margin: 0;
  height: 15%;
}

.header-main h2{
  padding-top: 10px;
  margin-top: 0;
}

.details-header{
  display: flex;
  justify-content: space-around;
}

.container-content-work-school{
  display: flex;
  margin-left: 10px;
}

.container-content-work-school button{
  height: 40px;
  width: 20px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
}

.work-item{
  display: flex;
  flex-direction: column;
}

.work-item p{
  margin: 0;
  margin-top: 3px;
}

.school-item p{
  margin: 0;
}

.container-button{
  margin-top: 20px;
  margin-left: 60px; 
}

button img{
  height: 15px;
}

.text-area-content{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
}

.modal-confirmation{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.modal-btns button{
  width: 150px;
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  color:black;
}

.modal-box{
  background-color: gray;
  border-radius: 5px;
  padding: 10px;
}